body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form button:hover {
    background: #e60000;
}

.question-nav {
    float: left;
    width: 150px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.question-nav ul {
    list-style: none;
    padding: 0;
}

.question-nav li {
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    background: #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-nav li.active {
    background: #ff3333;
    color: white;
}

.quiz-container {
    margin-left: 180px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.svg-container {
    text-align: center;
    margin-bottom: 20px;
}

.question-block {
    margin-bottom: 20px;
}

.question-block ul {
    list-style: none;
    padding: 0;
}

.question-block li {
    padding: 10px;
    margin: 5px 0;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-block li:hover {
    background: #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.question-block li.selected {
    background: #ff9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #e60000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-block {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


.svg-container {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden; 
}